Repository spring-attic/spring-cloud-aws, changes with the labels that .github/labeler.yml gives for each.
All labels: component: cloudwatch, component: core, component: elasticache, component: parameter-store, component: rds, component: s3, component: secrets-manager, component: ses, component: sns, component: sqs, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Add base class for AwsClientProperties.
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsAutoConfigurationTest.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/AmazonWebserviceClientFactoryBean.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/AwsClientProperties.java
Labels: component: core, component: sqs, status: waiting-for-triage

Add setting custom endpoint to SQS, SNS, SES, S3, CloudWatch.
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/context/ContextResourceLoaderAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailProperties.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsProperties.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsProperties.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchExportAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchProperties.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/context/ContextResourceLoaderAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchExportAutoConfigurationTest.java
  spring-cloud-aws-context/src/main/java/org/springframework/cloud/aws/context/config/annotation/ContextResourceLoaderConfiguration.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/AmazonWebserviceClientConfigurationUtils.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/AwsClientProperties.java
Labels: component: cloudwatch, component: core, component: ses, component: sns, component: sqs, status: waiting-for-triage

Add setting custom endpoint to Secrets Manager and Parameter Store.
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStoreProperties.java
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerProperties.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreBootstrapConfiguration.java
  spring-cloud-starter-aws-parameter-store-config/src/test/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreBootstrapConfigurationTest.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfiguration.java
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfigurationTest.java
Labels: component: parameter-store, component: secrets-manager, status: waiting-for-triage

Add setting custom endpoint to RDS.
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseAutoConfigurationTest.java
Labels: component: rds, status: waiting-for-triage

Fix test.
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfigurationTest.java
Labels: component: secrets-manager, status: waiting-for-triage

inital commit
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/context/ContextInstanceDataAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/context/ContextResourceLoaderAutoConfigurationTest.java
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfigurationTest.java
Labels: component: secrets-manager, status: waiting-for-triage

improvment
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/context/ContextInstanceDataAutoConfigurationTest.java
Labels: status: waiting-for-triage

formatting
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/context/ContextInstanceDataAutoConfigurationTest.java
Labels: status: waiting-for-triage

Update SNAPSHOT to 2.2.5.RELEASE
  README.adoc
  docs/pom.xml
  docs/src/main/asciidoc/_configprops.adoc
  pom.xml
  spring-cloud-aws-actuator/pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/.flattened-pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: component: core, component: parameter-store, component: rds, component: secrets-manager, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Going back to snapshots
  README.adoc
  docs/pom.xml
  docs/src/main/asciidoc/_configprops.adoc
  pom.xml
  spring-cloud-aws-actuator/pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/.flattened-pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: component: core, component: parameter-store, component: rds, component: secrets-manager, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Bumping versions to 2.2.6.BUILD-SNAPSHOT after release
  docs/pom.xml
  pom.xml
  spring-cloud-aws-actuator/pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-integration-test/pom.xml
  spring-cloud-aws-jdbc/pom.xml
  spring-cloud-aws-messaging/pom.xml
  spring-cloud-aws-parameter-store-config/pom.xml
  spring-cloud-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-jdbc/pom.xml
  spring-cloud-starter-aws-messaging/pom.xml
  spring-cloud-starter-aws-parameter-store-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws/pom.xml
Labels: component: core, component: parameter-store, component: rds, component: secrets-manager, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Polish.
  README.adoc
  docs/src/main/asciidoc/_configprops.adoc
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: component: rds, status: waiting-for-triage, type: documentation

Tests refactoring (#716)
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/context/ContextInstanceDataAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/context/ContextResourceLoaderAutoConfigurationTest.java
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfigurationTest.java
Labels: component: secrets-manager, status: waiting-for-triage

Update docs.
  docs/src/main/asciidoc/spring-cloud-aws.adoc
Labels: status: waiting-for-triage, type: documentation

Refactor docs
  docs/src/main/asciidoc/cloudformation.adoc
  docs/src/main/asciidoc/cloudwatch.adoc
  docs/src/main/asciidoc/elasticache.adoc
  docs/src/main/asciidoc/parameter-store.adoc
  docs/src/main/asciidoc/rds.adoc
  docs/src/main/asciidoc/s3.adoc
  docs/src/main/asciidoc/secrets-manager.adoc
  docs/src/main/asciidoc/ses.adoc
  docs/src/main/asciidoc/sns.adoc
  docs/src/main/asciidoc/spring-cloud-aws.adoc
  docs/src/main/asciidoc/sqs.adoc
Labels: status: waiting-for-triage, type: documentation

Add release workflow
  .github/workflows/release.yml
Labels: status: waiting-for-triage

Refactor docs (#719)
  docs/src/main/asciidoc/cloudformation.adoc
  docs/src/main/asciidoc/cloudwatch.adoc
  docs/src/main/asciidoc/elasticache.adoc
  docs/src/main/asciidoc/parameter-store.adoc
  docs/src/main/asciidoc/rds.adoc
  docs/src/main/asciidoc/s3.adoc
  docs/src/main/asciidoc/secrets-manager.adoc
  docs/src/main/asciidoc/ses.adoc
  docs/src/main/asciidoc/sns.adoc
  docs/src/main/asciidoc/spring-cloud-aws.adoc
  docs/src/main/asciidoc/sqs.adoc
Labels: status: waiting-for-triage, type: documentation

Update generated docs.
  README.adoc
  docs/src/main/asciidoc/_configprops.adoc
Labels: status: waiting-for-triage, type: documentation

Update generated docs.
  docs/src/main/asciidoc/_configprops.adoc
Labels: status: waiting-for-triage, type: documentation

Enable endpoint customization for each integration (#715)
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/spring-cloud-aws.adoc
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/context/ContextResourceLoaderAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseProperties.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailProperties.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsProperties.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchExportAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchProperties.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/context/ContextResourceLoaderAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchExportAutoConfigurationTest.java
  spring-cloud-aws-context/src/main/java/org/springframework/cloud/aws/context/config/annotation/ContextResourceLoaderConfiguration.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/AmazonWebserviceClientConfigurationUtils.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/AmazonWebserviceClientFactoryBean.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/AwsClientProperties.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/xml/XmlWebserviceConfigurationUtils.java
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStoreProperties.java
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerProperties.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreBootstrapConfiguration.java
  spring-cloud-starter-aws-parameter-store-config/src/test/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreBootstrapConfigurationTest.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfiguration.java
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfigurationTest.java
Labels: component: cloudwatch, component: core, component: parameter-store, component: rds, component: secrets-manager, component: ses, component: sns, component: sqs, status: waiting-for-triage, type: documentation

Fix tag patterns
  .github/workflows/release.yml
Labels: status: waiting-for-triage

Add distributionManagement section
  pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Add release workflow (#720)
  .github/workflows/release.yml
  pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Add aws-secretsmanager: prefix config import
  pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySourceLocator.java
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySources.java
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfiguration.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLoader.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolver.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataResource.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/resources/META-INF/spring.factories
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolverTest.java
Labels: component: secrets-manager, status: waiting-for-triage, type: dependency-upgrade

Add header
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolverTest.java
Labels: component: secrets-manager, status: waiting-for-triage

Add docs
  docs/src/main/asciidoc/secrets-manager.adoc
Labels: status: waiting-for-triage, type: documentation

Fix call to secrestsmanager service
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySources.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLoader.java
Labels: component: secrets-manager, status: waiting-for-triage

Update java version to 8.0.275.hs-adpt
  .github/workflows/build.yml
Labels: status: waiting-for-triage

Update java version to 8.0.275.hs-adpt
  .github/workflows/release.yml
Labels: status: waiting-for-triage

Remove public from test
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolverTest.java
Labels: component: secrets-manager, status: waiting-for-triage

Add aws-parameterstore: prefix config import
  docs/src/main/asciidoc/parameter-store.adoc
  pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStorePropertySourceLocator.java
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStorePropertySources.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreBootstrapConfiguration.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataLoader.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolver.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataResource.java
  spring-cloud-starter-aws-parameter-store-config/src/main/resources/META-INF/spring.factories
  spring-cloud-starter-aws-parameter-store-config/src/test/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolverTest.java
Labels: component: parameter-store, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Remove unused import
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStorePropertySourceLocator.java
Labels: component: parameter-store, status: waiting-for-triage

Fix texts
  docs/src/main/asciidoc/parameter-store.adoc
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStorePropertySources.java
Labels: component: parameter-store, status: waiting-for-triage, type: documentation

Fix tests
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStorePropertySources.java
  spring-cloud-starter-aws-parameter-store-config/src/test/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolverTest.java
Labels: component: parameter-store, status: waiting-for-triage

Add license header
  spring-cloud-starter-aws-parameter-store-config/src/test/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolverTest.java
Labels: component: parameter-store, status: waiting-for-triage

Enable custom client configuration for SQS integration.
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsAutoConfigurationTest.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/SpringCloudClientConfiguration.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/AmazonWebserviceClientFactoryBean.java
Labels: component: core, component: sqs, status: waiting-for-triage

Enable custom client configuration for CloudWatch integration.
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchExportAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchExportAutoConfigurationTest.java
Labels: component: cloudwatch, status: waiting-for-triage

Enable custom client configuration for SNS integration.
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsAutoConfigurationTest.java
Labels: component: sns, status: waiting-for-triage

Polish.
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchExportAutoConfigurationTest.java
Labels: component: cloudwatch, status: waiting-for-triage

Enable custom client configuration for RDS integration.
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseAutoConfigurationTest.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/AmazonWebserviceClientConfigurationUtils.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/xml/XmlWebserviceConfigurationUtils.java
Labels: component: core, component: rds, status: waiting-for-triage

.github/labeler.yml:

"component: cloudwatch":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/metrics/*
"component: core":
  - spring-cloud-aws-core/*
  - spring-cloud-aws-core/**/*
"component: elasticache":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/cache/*
"component: parameter-store":
  - spring-cloud-aws-parameter-store-config/*
  - spring-cloud-aws-parameter-store-config/**/*
  - spring-cloud-starter-aws-parameter-store-config/*
  - spring-cloud-starter-aws-parameter-store-config/**/*
"component: rds":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/jdbc/*
  - spring-cloud-starter-aws-jdbc/*
  - spring-cloud-starter-aws-jdbc/**/*
"component: s3":
  - spring-cloud-aws-core/src/*/java/org/springframework/cloud/aws/core/io/s3/*
"component: secrets-manager":
  - spring-cloud-aws-secrets-manager-config/*
  - spring-cloud-aws-secrets-manager-config/**/*
  - spring-cloud-starter-aws-secrets-manager-config/*
  - spring-cloud-starter-aws-secrets-manager-config/**/*
"component: ses":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/mail/*
"component: sns":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/messaging/Sns*.java
"component: sqs":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/messaging/Sqs*.java
"status: waiting-for-triage":
  - ./*
  - ./**/*
"type: documentation": docs/**/*
"type: dependency-upgrade":
  - pom.xml
  - spring-cloud-aws-dependencies/pom.xml
