Repository spring-attic/spring-cloud-aws, changes with the labels that .github/labeler.yml gives for each.
All labels: component: cloudwatch, component: core, component: elasticache, component: parameter-store, component: rds, component: s3, component: secrets-manager, component: ses, component: sns, component: sqs, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Disable ContextInstanceDataAutoConfiguration by default. (#730)
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/spring-cloud-aws.adoc
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/condition/ConditionalOnAwsCloudEnvironment.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/context/ContextInstanceDataAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/context/ContextInstanceDataAutoConfigurationTest.java
Labels: status: waiting-for-triage, type: documentation

Document required IAM permissions for S3 (#731)
  docs/src/main/asciidoc/s3.adoc
Labels: status: waiting-for-triage, type: documentation

Include `spring.cloud.aws.*` properties in docs.
  docs/pom.xml
  docs/src/main/asciidoc/_configprops.adoc
Labels: status: waiting-for-triage, type: documentation

Remove dependency
  spring-cloud-starter-aws-secrets-manager-config/pom.xml
Labels: component: secrets-manager, status: waiting-for-triage

Polish Secret ManagerConfig Data Import
  docs/src/main/asciidoc/_configprops.adoc
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySource.java
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySourceLocator.java
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySources.java
  spring-cloud-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySourceLocatorTest.java
  spring-cloud-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySourceTest.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLoader.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolver.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataResource.java
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolverTest.java
Labels: component: secrets-manager, status: waiting-for-triage, type: documentation

Add Secrets Manager Sample.
  pom.xml
  samples/pom.xml
  samples/secrets-manager/infrastructure/.gitignore
  samples/secrets-manager/infrastructure/.npmignore
  samples/secrets-manager/infrastructure/README.md
  samples/secrets-manager/infrastructure/cdk.json
  samples/secrets-manager/infrastructure/jest.config.js
  samples/secrets-manager/infrastructure/lib/infrastructure-stack.ts
  samples/secrets-manager/infrastructure/package-lock.json
  samples/secrets-manager/infrastructure/package.json
  samples/secrets-manager/infrastructure/tsconfig.json
  samples/secrets-manager/pom.xml
  samples/secrets-manager/readme.md
  samples/secrets-manager/src/main/java/org/springframework/cloud/aws/samples/secretsmanager/App.java
  samples/secrets-manager/src/main/resources/application.yml
Labels: status: waiting-for-triage, type: dependency-upgrade

Remove package-lock.json
  samples/secrets-manager/infrastructure/package-lock.json
Labels: status: waiting-for-triage

Fix failFast behavior in Secrets Manager integration when secret is not found.
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySource.java
  spring-cloud-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySourceLocatorTest.java
  spring-cloud-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySourceTest.java
Labels: component: secrets-manager, status: waiting-for-triage

Inital commit
  docs/src/main/asciidoc/ses.adoc
Labels: status: waiting-for-triage, type: documentation

upper case
  docs/src/main/asciidoc/ses.adoc
Labels: status: waiting-for-triage, type: documentation

Document required IAM permissions for SES (#733)
  docs/src/main/asciidoc/ses.adoc
Labels: status: waiting-for-triage, type: documentation

Fix Github action building docs.
  .github/workflows/upload-docs.yml
Labels: status: waiting-for-triage

Fix SES starter parent version.
  spring-cloud-starter-aws-ses/pom.xml
Labels: status: waiting-for-triage

fix
  docs/src/main/asciidoc/ses.adoc
Labels: status: waiting-for-triage, type: documentation

Fix ses docs (#737)
  docs/src/main/asciidoc/ses.adoc
Labels: status: waiting-for-triage, type: documentation

Introduce SQS policies into docs
  docs/src/main/asciidoc/sqs.adoc
Labels: status: waiting-for-triage, type: documentation

Introduce SQS policies into docs
  docs/src/main/asciidoc/sqs.adoc
Labels: status: waiting-for-triage, type: documentation

feat(aws-appconfig): rename accountId as clientId + allow default random clientId + use first profile name as environment if it is null
  spring-cloud-aws-appconfig/src/main/java/org/springframework/cloud/aws/appconfig/AwsAppConfigPropertySource.java
  spring-cloud-aws-appconfig/src/main/java/org/springframework/cloud/aws/appconfig/AwsAppConfigPropertySourceLocator.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/appconfig/AwsAppConfigBootstrapConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/appconfig/AwsAppConfigProperties.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/appconfig/AwsAppConfigPropertiesTest.java
Labels: status: waiting-for-triage

Polish
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySources.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolver.java
Labels: component: secrets-manager, status: waiting-for-triage

Polish
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStorePropertySources.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolver.java
Labels: component: parameter-store, status: waiting-for-triage

Add aws-secretsmanager: prefix config import (#721)
  docs/src/main/asciidoc/secrets-manager.adoc
  pom.xml
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySourceLocator.java
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySources.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfiguration.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLoader.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolver.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataResource.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/resources/META-INF/spring.factories
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolverTest.java
Labels: component: secrets-manager, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Remove usage of StringUtils.isEmpty
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseProperties.java
  spring-cloud-aws-context/src/main/java/org/springframework/cloud/aws/context/config/xml/StackConfigurationBeanDefinitionParser.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/env/stack/config/StackResourceRegistryFactoryBean.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/io/s3/SimpleStorageNameUtils.java
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStoreProperties.java
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerProperties.java
Labels: component: core, component: parameter-store, component: rds, component: s3, component: secrets-manager, status: waiting-for-triage

Improve Region auto-configuration
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/context/ContextRegionProviderAutoConfiguration.java
Labels: status: waiting-for-triage

Document required IAM permissions for SQS (#738)
  docs/src/main/asciidoc/sqs.adoc
Labels: status: waiting-for-triage, type: documentation

Remove usage of StringUtils.isEmpty (#740)
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseProperties.java
  spring-cloud-aws-context/src/main/java/org/springframework/cloud/aws/context/config/xml/StackConfigurationBeanDefinitionParser.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/env/stack/config/StackResourceRegistryFactoryBean.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/io/s3/SimpleStorageNameUtils.java
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStoreProperties.java
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerProperties.java
Labels: component: core, component: parameter-store, component: rds, component: s3, component: secrets-manager, status: waiting-for-triage

Remove sample
  pom.xml
  samples/pom.xml
  samples/secrets-manager/infrastructure/.gitignore
  samples/secrets-manager/infrastructure/.npmignore
  samples/secrets-manager/infrastructure/README.md
  samples/secrets-manager/infrastructure/cdk.json
  samples/secrets-manager/infrastructure/jest.config.js
  samples/secrets-manager/infrastructure/lib/infrastructure-stack.ts
  samples/secrets-manager/infrastructure/package.json
  samples/secrets-manager/infrastructure/tsconfig.json
  samples/secrets-manager/pom.xml
  samples/secrets-manager/readme.md
  samples/secrets-manager/src/main/java/org/springframework/cloud/aws/samples/secretsmanager/App.java
  samples/secrets-manager/src/main/resources/application.yml
Labels: status: waiting-for-triage, type: dependency-upgrade

Add Secrets Manager sample.
  pom.xml
  samples/pom.xml
  samples/secrets-manager/infrastructure/.gitignore
  samples/secrets-manager/infrastructure/.npmignore
  samples/secrets-manager/infrastructure/README.md
  samples/secrets-manager/infrastructure/cdk.json
  samples/secrets-manager/infrastructure/jest.config.js
  samples/secrets-manager/infrastructure/lib/infrastructure-stack.ts
  samples/secrets-manager/infrastructure/package.json
  samples/secrets-manager/infrastructure/tsconfig.json
  samples/secrets-manager/pom.xml
  samples/secrets-manager/readme.md
  samples/secrets-manager/src/main/java/org/springframework/cloud/aws/samples/secretsmanager/App.java
  samples/secrets-manager/src/main/resources/application.yml
Labels: status: waiting-for-triage, type: dependency-upgrade

Polish.
  docs/src/main/asciidoc/_configprops.adoc
  spring-cloud-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySourceLocatorTest.java
Labels: component: secrets-manager, status: waiting-for-triage, type: documentation

Introduce SNS policies into docs
  docs/src/main/asciidoc/sns.adoc
Labels: status: waiting-for-triage, type: documentation

fixed uppercase
  docs/src/main/asciidoc/sns.adoc
Labels: status: waiting-for-triage, type: documentation

Remove public from tests
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseAutoConfigurationTest.java
Labels: component: rds, status: waiting-for-triage

Polish
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStorePropertySource.java
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStorePropertySourceLocator.java
  spring-cloud-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/paramstore/AwsParamStorePropertySources.java
  spring-cloud-aws-parameter-store-config/src/test/java/org/springframework/cloud/aws/paramstore/AwsParamStorePropertySourceLocatorTest.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataLoader.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolver.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataResource.java
Labels: component: parameter-store, status: waiting-for-triage

parameter store docs
  docs/src/main/asciidoc/parameter-store.adoc
Labels: status: waiting-for-triage, type: documentation

SecretManager docs
  docs/src/main/asciidoc/secrets-manager.adoc
Labels: status: waiting-for-triage, type: documentation

fix
  docs/src/main/asciidoc/parameter-store.adoc
Labels: status: waiting-for-triage, type: documentation

introduce secret manager policy
  docs/src/main/asciidoc/secrets-manager.adoc
Labels: status: waiting-for-triage, type: documentation

Polish Secrets Manager Integration (#743)
  docs/src/main/asciidoc/_configprops.adoc
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySource.java
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySourceLocator.java
  spring-cloud-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySources.java
  spring-cloud-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySourceLocatorTest.java
  spring-cloud-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/secretsmanager/AwsSecretsManagerPropertySourceTest.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLoader.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolver.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataResource.java
  spring-cloud-starter-aws-secrets-manager-config/src/test/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolverTest.java
Labels: component: secrets-manager, status: waiting-for-triage, type: documentation

Introduce SNS policies into docs (#745)
  docs/src/main/asciidoc/sns.adoc
Labels: status: waiting-for-triage, type: documentation

Document required IAM permissions for Parameter Store (#747)
  docs/src/main/asciidoc/parameter-store.adoc
Labels: status: waiting-for-triage, type: documentation

Document required IAM permissions for Secrets Manager (#748)
  docs/src/main/asciidoc/secrets-manager.adoc
Labels: status: waiting-for-triage, type: documentation

.github/labeler.yml:

"component: cloudwatch":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/metrics/*
"component: core":
  - spring-cloud-aws-core/*
  - spring-cloud-aws-core/**/*
"component: elasticache":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/cache/*
"component: parameter-store":
  - spring-cloud-aws-parameter-store-config/*
  - spring-cloud-aws-parameter-store-config/**/*
  - spring-cloud-starter-aws-parameter-store-config/*
  - spring-cloud-starter-aws-parameter-store-config/**/*
"component: rds":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/jdbc/*
  - spring-cloud-starter-aws-jdbc/*
  - spring-cloud-starter-aws-jdbc/**/*
"component: s3":
  - spring-cloud-aws-core/src/*/java/org/springframework/cloud/aws/core/io/s3/*
"component: secrets-manager":
  - spring-cloud-aws-secrets-manager-config/*
  - spring-cloud-aws-secrets-manager-config/**/*
  - spring-cloud-starter-aws-secrets-manager-config/*
  - spring-cloud-starter-aws-secrets-manager-config/**/*
"component: ses":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/mail/*
"component: sns":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/messaging/Sns*.java
"component: sqs":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/messaging/Sqs*.java
"status: waiting-for-triage":
  - ./*
  - ./**/*
"type: documentation": docs/**/*
"type: dependency-upgrade":
  - pom.xml
  - spring-cloud-aws-dependencies/pom.xml
