Repository spring-attic/spring-cloud-aws, changes with the labels that .github/labeler.yml gives for each.
All labels: component: cloudwatch, component: core, component: elasticache, component: parameter-store, component: rds, component: s3, component: secrets-manager, component: ses, component: sns, component: sqs, status: waiting-for-triage, type: documentation, type: dependency-upgrade

.github/labeler.yml:

"component: cloudwatch":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/metrics/*
"component: core":
  - spring-cloud-aws-core/*
  - spring-cloud-aws-core/**/*
"component: elasticache":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/cache/*
"component: parameter-store":
  - spring-cloud-aws-parameter-store-config/*
  - spring-cloud-aws-parameter-store-config/**/*
  - spring-cloud-starter-aws-parameter-store-config/*
  - spring-cloud-starter-aws-parameter-store-config/**/*
"component: rds":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/jdbc/*
  - spring-cloud-starter-aws-jdbc/*
  - spring-cloud-starter-aws-jdbc/**/*
"component: s3":
  - spring-cloud-aws-core/src/*/java/org/springframework/cloud/aws/core/io/s3/*
"component: secrets-manager":
  - spring-cloud-aws-secrets-manager-config/*
  - spring-cloud-aws-secrets-manager-config/**/*
  - spring-cloud-starter-aws-secrets-manager-config/*
  - spring-cloud-starter-aws-secrets-manager-config/**/*
"component: ses":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/mail/*
"component: sns":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/messaging/Sns*.java
"component: sqs":
  - spring-cloud-aws-autoconfigure/src/*/java/org/springframework/cloud/aws/autoconfigure/messaging/Sqs*.java
"status: waiting-for-triage":
  - ./*
  - ./**/*
"type: documentation": docs/**/*
"type: dependency-upgrade":
  - pom.xml
  - spring-cloud-aws-dependencies/pom.xml

Enable custom client configuration for S3 integration.
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/context/ContextResourceLoaderAutoConfigurationTest.java
  spring-cloud-aws-context/src/main/java/org/springframework/cloud/aws/context/config/annotation/ContextResourceLoaderConfiguration.java
Labels: status: waiting-for-triage

Polish.
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/AmazonWebserviceClientConfigurationUtils.java
Labels: component: core, status: waiting-for-triage

Polish.
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/AmazonWebserviceClientConfigurationUtils.java
Labels: component: core, status: waiting-for-triage

Enable custom client configuration for ElastiCache integration.
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/cache/ElastiCacheAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/cache/ElastiCacheAutoConfigurationTest.java
Labels: component: elasticache, status: waiting-for-triage

Polish.
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/cache/ElastiCacheAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchExportAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/cache/ElastiCacheAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsAutoConfigurationTest.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/SpringCloudClientConfiguration.java
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/config/AmazonWebserviceClientConfigurationUtils.java
Labels: component: cloudwatch, component: core, component: elasticache, component: sns, component: sqs, status: waiting-for-triage

Polish.
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/cache/ElastiCacheAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/context/ContextResourceLoaderAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/jdbc/AmazonRdsDatabaseAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/messaging/SnsAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/messaging/SqsAutoConfigurationTest.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/metrics/CloudWatchExportAutoConfigurationTest.java
Labels: component: cloudwatch, component: elasticache, component: rds, component: sns, component: sqs, status: waiting-for-triage

Add ability to pass AmazonS3 to SimpleStorageProtocolResolver via constructor.
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/io/s3/SimpleStorageProtocolResolver.java
Labels: component: core, component: s3, status: waiting-for-triage

Disable CloudFormation support by default.
  docs/src/main/asciidoc/cloudformation.adoc
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-integration-test/pom.xml
Labels: component: core, status: waiting-for-triage, type: documentation

Add cognito integration
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationProperties.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/spring.factories
Labels: status: waiting-for-triage

Add metadata
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationProperties.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationAutoConfigurationTest.java
Labels: status: waiting-for-triage

Fix spring.factories
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/spring.factories
Labels: status: waiting-for-triage

Fix aud as a list
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationAutoConfiguration.java
Labels: status: waiting-for-triage

fix configuration annotation
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationAutoConfiguration.java
Labels: status: waiting-for-triage

add prefix attr
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationProperties.java
Labels: status: waiting-for-triage

Fix property
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationAutoConfigurationTest.java
Labels: status: waiting-for-triage

Apply format
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationAutoConfigurationTest.java
Labels: status: waiting-for-triage

Add cognito integration (#680)
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationProperties.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/spring.factories
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/security/CognitoAuthenticationAutoConfigurationTest.java
Labels: status: waiting-for-triage

Add ses module
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SesAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SesProperties.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/spring.factories
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/mail/SesAutoConfigurationTest.java
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-ses/src/main/java/org/springframework/cloud/aws/ses/SimpleEmailServiceJavaMailSender.java
  spring-cloud-aws-ses/src/main/java/org/springframework/cloud/aws/ses/SimpleEmailServiceMailSender.java
  spring-cloud-aws-ses/src/test/java/org/springframework/cloud/aws/ses/SimpleEmailServiceJavaMailSenderTest.java
  spring-cloud-aws-ses/src/test/java/org/springframework/cloud/aws/ses/SimpleEmailServiceMailSenderTest.java
  spring-cloud-starter-aws-ses/pom.xml
Labels: component: ses, status: waiting-for-triage, type: dependency-upgrade

Deprecate cloud.aws.mail.enabled
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: status: waiting-for-triage

Run SesAutoConfiguration before SimpleEmailAutoConfiguration
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SesAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/mail/SesAutoConfigurationTest.java
Labels: component: ses, status: waiting-for-triage

Add condition when class is missing
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SesAutoConfiguration.java
Labels: component: ses, status: waiting-for-triage

Add docs
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/ses.adoc
Labels: status: waiting-for-triage, type: documentation

Fix format
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SesAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/mail/SesAutoConfigurationTest.java
  spring-cloud-aws-ses/src/main/java/org/springframework/cloud/aws/ses/SimpleEmailServiceJavaMailSender.java
  spring-cloud-aws-ses/src/main/java/org/springframework/cloud/aws/ses/SimpleEmailServiceMailSender.java
  spring-cloud-aws-ses/src/test/java/org/springframework/cloud/aws/ses/SimpleEmailServiceJavaMailSenderTest.java
  spring-cloud-aws-ses/src/test/java/org/springframework/cloud/aws/ses/SimpleEmailServiceMailSenderTest.java
Labels: component: ses, status: waiting-for-triage

Add ses module (#669)
  docs/src/main/asciidoc/_configprops.adoc
  docs/src/main/asciidoc/ses.adoc
  pom.xml
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SesAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SesProperties.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/spring.factories
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/mail/SesAutoConfigurationTest.java
  spring-cloud-aws-dependencies/pom.xml
  spring-cloud-aws-ses/pom.xml
  spring-cloud-aws-ses/src/main/java/org/springframework/cloud/aws/ses/SimpleEmailServiceJavaMailSender.java
  spring-cloud-aws-ses/src/main/java/org/springframework/cloud/aws/ses/SimpleEmailServiceMailSender.java
  spring-cloud-aws-ses/src/test/java/org/springframework/cloud/aws/ses/SimpleEmailServiceJavaMailSenderTest.java
  spring-cloud-aws-ses/src/test/java/org/springframework/cloud/aws/ses/SimpleEmailServiceMailSenderTest.java
  spring-cloud-starter-aws-ses/pom.xml
Labels: component: ses, status: waiting-for-triage, type: documentation, type: dependency-upgrade

Update spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolver.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolver.java
Labels: component: secrets-manager, status: waiting-for-triage

Take advantage of optional
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataLoader.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolver.java
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataResource.java
Labels: component: parameter-store, status: waiting-for-triage

Take advantage of optional
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLoader.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataLocationResolver.java
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerConfigDataResource.java
Labels: component: secrets-manager, status: waiting-for-triage

Polish
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreConfigDataLocationResolver.java
Labels: component: parameter-store, status: waiting-for-triage

Disable CloudFormation support by default. (#727)
  docs/src/main/asciidoc/cloudformation.adoc
  spring-cloud-aws-autoconfigure/pom.xml
  spring-cloud-aws-context/pom.xml
  spring-cloud-aws-core/pom.xml
  spring-cloud-aws-integration-test/pom.xml
Labels: component: core, status: waiting-for-triage, type: documentation

Add ability to pass AmazonS3 to SimpleStorageProtocolResolver via constructor. (#726)
  spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/io/s3/SimpleStorageProtocolResolver.java
Labels: component: core, component: s3, status: waiting-for-triage

Fix ClassNotFoundException caused by `SesAutoConfiguration`.
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SesAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailAutoConfiguration.java
Labels: component: ses, status: waiting-for-triage

Fix ClassNotFoundException caused by `SesAutoConfiguration`. (#728)
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SesAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/mail/SimpleEmailAutoConfiguration.java
Labels: component: ses, status: waiting-for-triage

Upgrade AWS SDK to 1.11.907
  spring-cloud-aws-dependencies/pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Upgrade AWS SDK to 1.11.907 (#729)
  spring-cloud-aws-dependencies/pom.xml
Labels: status: waiting-for-triage, type: dependency-upgrade

Fix SES parent version.
  spring-cloud-aws-ses/pom.xml
Labels: status: waiting-for-triage

Fallback name with spring.application.name
  spring-cloud-starter-aws-parameter-store-config/src/main/java/org/springframework/cloud/aws/autoconfigure/paramstore/AwsParamStoreBootstrapConfiguration.java
Labels: component: parameter-store, status: waiting-for-triage

Fallback name with spring.application.name
  spring-cloud-starter-aws-secrets-manager-config/src/main/java/org/springframework/cloud/aws/autoconfigure/secretsmanager/AwsSecretsManagerBootstrapConfiguration.java
Labels: component: secrets-manager, status: waiting-for-triage

Disable ContextInstanceDataAutoConfiguration by default.
  docs/src/main/asciidoc/spring-cloud-aws.adoc
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/condition/ConditionalOnAwsCloudEnvironment.java
  spring-cloud-aws-autoconfigure/src/main/java/org/springframework/cloud/aws/autoconfigure/context/ContextInstanceDataAutoConfiguration.java
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  spring-cloud-aws-autoconfigure/src/test/java/org/springframework/cloud/aws/autoconfigure/context/ContextInstanceDataAutoConfigurationTest.java
Labels: status: waiting-for-triage, type: documentation

Polish.
  docs/src/main/asciidoc/_configprops.adoc
  spring-cloud-aws-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json
Labels: status: waiting-for-triage, type: documentation

Document required IAM permissions for S3
  docs/src/main/asciidoc/s3.adoc
Labels: status: waiting-for-triage, type: documentation
